
.button {
    margin-left: 10px;
    border: none;
    background-color: rgb(63, 215, 212);
    width: 65px;
    height: 20px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(63, 235, 232);
}

.button:focus {
    outline: none;
}

.button:disabled {
    background-color: rgb(63, 63, 63);
}
